asttokens
certifi
charset-normalizer
cloudpickle
comm
contourpy
coverage
cycler
datasets
debugpy
decorator
exceptiongroup
executing
Farama-Notifications
filelock
fonttools
fsspec
gymnasium
idna
imageio
imageio-ffmpeg
importlib_metadata
iniconfig
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
moviepy
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
pluggy
proglog
prompt_toolkit
psutil
ptyprocess
pure_eval
pygame
Pygments
pyparsing
pytest
python-dateutil
pytz
pyzmq
requests
setuptools
six
stack-data
sympy
tornado
--find-links https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wandb
wcwidth
zipp